@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Work+Sans:wght@200;600&display=swap');
/*@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.heading {
    display: block;
    background-color: blueviolet;
    height: 30px;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 2% 0;

}
.game-area {
    height: 80%;
    width: 80%;
    max-width: 1200px;
    background-color: aqua;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.left-area{
    width: 50%;
    height: 600px;
    background-color: chocolate;
    float: left;
}

#guessing-area {
    text-align: center;
}

.guessing-row {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-num {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: xxx-large;
    /*margin: 0 10px;*/
  }

  .form-num:focus {
    background-color: #c5bcbc;
    border-color: #3c4417;
    color: #3d3d41;
}

input:disabled {
    background-color: #262626;
 }

.right-area{
    width: 50%;
    height: 600px;
    background-color: rgb(28, 90, 161);
    float: left;
}

.game-rules {
    padding: 30px;
}

.fa-solid {
    padding-right: 20px;
    font-size: xx-large;
}

.green-num {
    color: #17f217;
}

.orange-num {
    color: #ffa000;
}

.red-num {
    color: red;
}

.game-rules>p {
    font-size: large;
    font-weight: bold;
    padding-bottom: 20px;
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    width: 160px;
    height: 60px;
    font-family: "Arial Nova Condensed", sans-serif;
    font-size: 14px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #d2691e;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #000000;
    color: #d2691e;
}

.alert-info {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}

.alert-info>p {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.fa-circle-exclamation {
    color: orange;
}

@media (max-width: 900px) {
    .form-num {
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: xx-large;
        
    }

    .btn {
        width: 100px;
        font-size: 10px;
    }
}

@media (max-width: 512px) {
    .heading {
        width: 100%;
        padding: 12% 0;
        font-size: 30px;
    }
    
    .left-area{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        float: none;
    }

    .game-area {
        width: 100%;
    }

    .guessing-row {
        padding-top: 25px;
    }
    

    .form-num {
        height: 40px;
        width: 40px;
        font-size: xx-large;
        margin: 0px 15px;
    }

    .right-area {
        width: 100%;
        float: none;
    }

    .game-rules {
        padding: 5px 30px;
    }

    .control-buttons {
       display: flex;
        flex-direction: column;
    }
    
    .btn {
        width: 80%;
        font-size: 10px;
        display: block;

    }
}