@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Work+Sans:wght@200;600&display=swap');
/*@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');*/

body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.heading {
    display: block;
    background-color: blueviolet;
    height: 30px;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 2% 0;

}
.game-area {
    height: 80%;
    width: 80%;
    max-width: 1200px;
    background-color: aqua;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.left-area{
    width: 50%;
    height: 600px;
    background-color: chocolate;
    float: left;
}

.guessing-area {
    text-align: center;
    padding-top: 30px;
}

.right-area{
    width: 50%;
    height: 600px;
    background-color: rgb(28, 90, 161);
    float: left;
}


.form-num {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: xxx-large;
  }

  .form-num:focus {
    background-color: #c5bcbc;
    border-color: #3c4417;
    color: #3d3d41;
    
}