@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Work+Sans:wght@200;600&display=swap');
/*@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');*/

body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.heading {
    display: block;
    background-color: blueviolet;
    height: 30px;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 2% 0;

}
.game-area {
    height: 80%;
    width: 80%;
    max-width: 1200px;
    background-color: aqua;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.left-area{
    width: 50%;
    height: 600px;
    background-color: chocolate;
    float: left;
}

#guessing-area {
    text-align: center;
}

.guessing-row {
    padding-top: 30px;
}

.form-num {
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: xxx-large;
    margin: 0 10px;
  }

  .form-num:focus {
    background-color: #c5bcbc;
    border-color: #3c4417;
    color: #3d3d41;
}

.right-area{
    width: 50%;
    height: 600px;
    background-color: rgb(28, 90, 161);
    float: left;
}

.game-rules {
    padding: 30px;
}

.fa-solid {
    padding-right: 20px;
    font-size: xx-large;
}

.green-num {
    color: #17f217;
}

.orange-num {
    color: #ffa000;
}

.red-num {
    color: red;
}

.game-rules>p {
    font-size: x-large;
    font-weight: bold;
}

.control-buttons {
    text-align: center;
}

.btn {
    width: 220px;
    height: 60px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn--gray {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

.alert-info {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}

.fa-circle-exclamation {
    color: orange;
}
